<!--
<mat-nav-list>

  <ng-container *ngFor="let rol of roles">

      <ng-container *ngIf="rol.rolu_modulo_pred === null">
        <a  mat-list-item routerLinkActive="list-item-active" routerLink="/{{rol.rolu_modulo_route}}">
          <mat-icon>pages</mat-icon> {{rol.rolu_modulo_descrip}}
        </a>
      </ng-container>
      <ng-container *ngIf="rol.rolu_modulo_pred !== null">
        <ng-container *ngIf="rol.rolu_modulo_route === null">

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>payment</mat-icon>{{rol.rolu_modulo_descrip}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"><mat-icon>payment</mat-icon> {{rol.rolu_modulo_descrip}}</a>
          </mat-expansion-panel>

        </ng-container>

      </ng-container>

  </ng-container>

</mat-nav-list>
-->


<mat-nav-list>
  

    <ng-container *ngIf="tipoRol === '10' || tipoRol === '20'">
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
          <mat-icon>pages</mat-icon> Dashboard
      </a>
      <mat-divider></mat-divider>
    </ng-container>

    <ng-container *ngIf="tipoRol === '10'">
      <h2 matSubheader><strong>Pagos en línea</strong></h2>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>money</mat-icon>Pagos
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"><mat-icon>payment</mat-icon> Pagar Servicio</a>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/shoppingcart"><mat-icon>shopping_cart</mat-icon> Carrito de compras</a>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/descuentos"><mat-icon>confirmation_number</mat-icon> Descuentos</a>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/recibos"><mat-icon>receipt</mat-icon> Recibos</a>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
  </ng-container>
  
</mat-nav-list>
